@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
    url('../fonts/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/') format('woff2'),
    url('../fonts/ProductSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 51px;
    font-family: 'Product Sans', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1148px;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
}

.order-link, .order-link-footer {
    border: none;
    outline: none;
}

.site-header {
    top: 0;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 32px;
}

.nav-link {
    text-decoration: none;
    color: #222;
    padding: 16px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.logo {
    display: block;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.logo-link {
    margin-right: auto;
}

.call-center {
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: #00bafc;
    border-radius: 5px;
    border: 3px solid #00bafc;
    transition: opacity, background-color, background-color 0.4s ease;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.3;
}

.has-menu-services {
    position: relative;
}

.services-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    left: 0;
    top: 0;
    transform: translate(-10%, -190%);
}

.services-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    width: 100%;
    white-space: nowrap;
}

.services-item:first-child {
    margin-top: 7px;
}

.services-item:last-child {
    margin-bottom: 7px;
}

.services-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}


.services-link:hover {
    color: white;
    background-color: #00bafc;
}

.services-link:active {
    opacity: 0.6;
}

.has-menu-services:hover .services-list {
    display: block;
    transform: translate(-10%, 19%);
}

.nav-link:hover {
    box-shadow: inset 0px -3px 0px black;
}

.has-menu-services:hover .nav-link {
    box-shadow: inset 0px -3px 0px black;
}

.has-menu-services:active .nav-link {
    box-shadow: none;
}

.nav-link:active {
    color: #fff;
    box-shadow: none;
    background: rgba(25, 25, 25, 0.7);
}

.call-center:hover {
    background: none;
    color: #00bafc;
}

.call-center:active {
    color: white;
    background-color: #00bafc;
    opacity: 0.4;
}

.intro {
    padding-bottom: 80px;
}

.intro-heading {
    width: 434px;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 16px;
}

.intro-text {
    width: 465px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.intro-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    line-height: 24px;
    transition: opacity 0.3s ease;
}

.intro-link:hover {
    opacity: 0.8;
}

.intro-link:active {
    opacity: 0.6;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    padding-top: 90px;
}

.intro-box {
    margin-right: auto;
}

.intro-iframe {
    border: none;
    width: 458px;
    height: 258px;
    border-radius: 5px;
}

.section-heading-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 719px;
}

.section-heading {
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.section-text {
    line-height: 24px;
}

.services-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 24px;
    margin-left: -35px;
    margin-right: -35px;
    list-style-type: none;
    list-style-type: none;
}

.services-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 48px;
}

.services-menu-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding: 24px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.services-menu-link:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-menu-link:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-menu-link::before {
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

.service-name {
    color: black;
    text-align: center;
}

.services-text {
    color: black;
    text-align: center;
}

.telegram-bot .services-menu-link::before {
    background-image: url('../img/bot-illustration.png');
}

.smm .services-menu-link::before {
    background-image: url('../img/smm-illustration.png');
}

.design .services-menu-link::before {
    background-image: url('../img/design-illustration.png');
}

.crm .services-menu-link::before {
    background-image: url('../img/crm-illustration.png');
}

.vebsite .services-menu-link::before {
    background-image: url("../img/website-illustration.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .service-website .service-link::before {
        background-image: url("../img/website-illustration@2x.png");
    }

    .service-telegram-bot .service-link::before {
        background-image: url("../img/bot-illustration@2x.png");
    }

    .service-smm .service-link::before {
        background-image: url("../img/smm-illustration@2x.png");
    }

    .service-graphic-design .service-link::before {
        background-image: url("../img/design-illustration@2x.png");
    }

    .service-crm .service-link::before {
        background-image: url("../img/crm-illustration@2x.png");
    }

    .zero-step::before {
        background-image: url("../img/step-illlustration@2x.png");
    }

    .first-step::before {
        background-image: url("../img/step-illllustration@2x.png");
    }

    .second-step::before {
        background-image: url("../img/step-illustration@2x.png");
    }

    .third-step::before {
        background-image: url("../img/step-illustration2@2x.png");
    }

    .fourth-step::before {
        background-image: url("../img/step-illustration3@2x.png");
    }
}

.links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-link {
    padding: 8px 16px;
    background-color: #00BAFC;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;

}

.order-link:hover {
    opacity: 0.8;
}

.order-link:active {
    opacity: 0.6;
}

.services-page {
    line-height: 24px;
    text-align: center;
    color: #00BAFC;
    margin-left: 10px;
}

.services-menu {
    padding-bottom: 50px;
}

.work-steps {
    margin: 0;
    padding: 0;
    padding: 20px 200px;
}

.step-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.zero-step::before {
    margin-right: 35px;
    display: inline-block;
    width: 300px;
    height: 277px;
    background-image: url(../img/step-illlustration.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.first-step::after {
    margin-left: 35px;
    display: inline-block;
    width: 300px;
    height: 277px;
    background-image: url(../img/step-illllustration.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.second-step::before {
    margin-right: 35px;
    display: inline-block;
    width: 300px;
    height: 277px;
    background-image: url(../img/step-illustration.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.third-step::after {
    margin-left: 35px;
    display: inline-block;
    width: 300px;
    height: 277px;
    background-image: url(../img/step-illustration2.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.fourth-step::before {
    margin-right: 35px;
    display: inline-block;
    width: 300px;
    height: 277px;
    background-image: url(../img/step-illustration3.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}

.white-type {
    color: #fff;
}

.order-link-footer {
    width: 180px;
    padding: 10px;
    background-color: #00BAFC;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
    font-size: 1rem;
}

.order-link-footer:hover {
    opacity: 0.8;
}

.order-link-footer:active {
    opacity: 0.6;
}

.order-section {
    padding: 50px 0;
    background-color: #00BAFC;
    margin-top: 55px;
    color: #fff;
}

.order-form {
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.form-inputs input, select {
    outline: none;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    width: 300px;
    height: 55px;
    border: none;
    background-color: #F3F3F3;
    padding: 16px;
    border-radius: 5px;
    transition: box-shadow 300ms ease;
}

.form-inputs input:focus, select:focus {
    box-shadow: 0 0 2px 2px #00BAFC;
}

/* foooter */

.site-footer {
    background-color: #191919;
    color: #fff;
    padding: 56px 0;
}

.footer-heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    list-style-type: none;
}

.footer-list li {
    margin-right: 100px;
    list-style-type: none;
}

.footer-list li ul {
    padding-inline-start: 0;
}
.footer-list li ul li {
    margin: 8px;
}
.copyright {
    width: 320px;
}

.copyright-description {
    font-size: 16px;
    line-height: 150%;
}

.nav-footer {
    width: 180px;
    padding-inline-start: 0;
}

.footer-navlist a {
    text-decoration: none;
    color: #fff;
}

.footer-navlist a:hover {
    color: #00BAFC;
}

.footer-navlist a:active {
    opacity: 0.6;
}

.social-network-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.social-network-links svg {
    margin-right: 8px;
}

.social-network-links:hover {
    color: #00BAFC;
}

.social-network-links:active {
    opacity: 0.6;
}

.site-services {
    padding-top: 72px;
}

.site-services-heading, .site-services-text {
    text-align: center;
}

.site-services-text {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* ===========Sercices============= */

.inner-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.site-services-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-services-list  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.services-property > li::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #00bafc;
    border-radius: 50%;
    margin-right: 8px;
}

.site-services-item:first-child {
    margin-top: 80px;
}

.site-services-item h3 {
    margin: 0;
}

.site-services-item {
    background-color: #fff;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    padding: 32px;
    margin: 32px 0;
}

.mini-link-wrapper {
    margin-top: 16px;
    justify-content: start;
}

.site-services-item > div {
    width: 500px;
    margin-left: auto;
}

.site-services-item > div {
    position: relative;
}

.site-services-item > div::before {
    position: absolute;
    z-index: 1;
    left: -50%;
    top: 0;
    display: inline-block;
    content: '';
    width: 200px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
}

.create-website > div::before {
    background-image: url('../img/website-illustration.png');
}

.telegram-bot-create > div::before {
    background-image: url('../img/bot-illustration.png');
}

.social-media-marketing > div::before {
    background-image: url('../img/smm-illustration.png');
}

.graphic-design > div::before {
    background-image: url('../img/design-illustration.png');
}

.crm-services > div::before {
    background-image: url('../img/crm-illustration.png');
}
